<div class = "row">
    <div clss = "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <ul clsss="list-group">
            <li class = "list-group-item">
                <span class="badge">2
                    <strong>Title</strong>
                    <span class = "label label-success">$12</span>
                    <div class = "btn-group">
                        <button class ="btn btn-primary btn-xs dropdown-toggle" type = "button">Action <span class = "caret"></span></button>
                        <ul clsss = "dropdown-menu">
                            <li><a href="#">Reduce by 1</a> </li>
                            <li><a hred="#">Remove All</a></li>
                        </ul>

                    </div>
                    </span>
            </li>
        </ul>
    </div>
</div>
<div class = "row">
    <div clss = "col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
        <strong>Total: </strong>
    </div>
</div>
<hr>
<div class = "row">
    <div class = "btn-group">
        <button type = "button" calss ="btn btn-success">chechout</button>
    </div>
</div>

<div class = "row">
    <div class = "btn-group">
        <h2>No Item in Cart</h2>
    </div>
</div>